<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">

    <head>
        <title>Edytuj produkt</title>
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{|/admin/product/edit/${id}|}" method="POST" th:object="${product}">
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Nazwa</label>
                            <input class="form-control" type="text" th:field="${product.name}" required />
                            <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="${product.name}"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Opis</label>
                            <input class="form-control" type="text" th:field="${product.description}" required />
                            <div class="text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="${product.description}"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <label>Cena</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">zł</div>
                            <input class=form-control type="number" min="0" step="0.01" th:field="${product.price}" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Ilość</label>
                            <input class="form-control" type="number" step="1" th:field="${product.quantity}" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Kategoria produktu</label>
                            <select class="form-control" th:field="${product.category}" required>
                                <option th:value="${product.category}"></option>
                                <option value="">Wybierz kategorie</option>
                                <option value="Laptopy i komputery">Laptopy i komputery</option>
                                <option value="Podzespoły komputerowe">Podzespoły komputerowe</option>
                                <option value="Urządzenia peryferyjne">Urządzenia peryferyjne</option>
                                <option value="Oprogramowanie">Oprogramowanie</option>
                                <option value="Akcesoria">Akcesoria</option>
                            </select>
                            <div class="text text-danger" th:if="${#fields.hasErrors('category')}" th:errors="${product.category}"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Zdjęcie [Adres URL]</label>
                            <input class="form-control" type="url" th:field="${product.photo}" required />
                            <div class="text text-danger" th:if="${#fields.hasErrors('photo')}" th:errors="${product.photo}"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>