<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <script type="text/javascript" src="/js/search.js"></script>
        <title>Lista użytkowników</title>
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">
            <div class="row">
                <div class="col-md-4 my-1">
                    <a href="add" class="btn btn-info" role="button">Dodaj uprawnienia</a>
                </div>
                <div class="col-md-4 offset-md-4 my-1">
                    <input type="search"  placeholder="Szukaj..." class="form-control search-input border-info" id="search"/>
                </div>
            </div>
            <div class="table-responsive mt-2">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr  class="active">
                            <th>Nazwa</th>
                        </tr>
                    </thead>
                    <tbody id="table">
                        <tr th:each ="role : ${roleList}">
                            <td> <b  th:text="${role.name}">...</b> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>