<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <script type="text/javascript" src="/js/search.js"></script>
        <title>Strona Główna</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form  id="search"  th:action="@{/search/}" class="container h-100 my-4">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                      <input class="search_input" type="text" name="name" placeholder="Szukaj...">
                      <a onclick="document.getElementById('search').submit()" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                  </div>
            </form>

            <div class="row text-center">
                <div th:each="product : ${productList}" style="width: 20rem; border: none;"  class="card mx-4 mb-4">
                    <img class="card-img-top img-fluid" style="width:320px; height:240px;" th:src="${product.photo}" alt="Zdjęcie">
                    <div class="card-block">
                    <h4 class="card-title"  style="min-height: 3.5rem;" th:text="${product.name}"></h4>
                    <p class="card-text" style="height: 4rem;"  th:text="${product.description}"></p>
                    <p class="h6" th:text="'Cena: ' +${#numbers.formatCurrency(product.price)}"></p>
                    <a class="btn btn-outline-primary my-1"  style="border-radius: 15px;" th:href="@{'/shopping-cart/add/' + ${product.productId}}">Dodaj do koszyka</a>
                    <a class="btn btn-outline-success my-1"  style="border-radius: 15px;" th:href="@{'/customer/buy/' + ${product.productId}}">Kup teraz</a>
                    <a class="btn btn-outline-info my-1 col-md-10"  style="border-radius: 15px;" th:href="@{'/buy/no-register/' + ${product.productId}}">Kup bez rejestracji</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
 </html>