<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <script type="text/javascript" src="/js/search.js"></script>
        <title>Lista klientów</title>
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="add" class="btn btn-outline-info" role="button">Dodaj</a>
                    </li>
                </ul>
                <div class="navbar-right d-flex h-100">
                    <div class="searchbar2">
                      <input class="search_input2" type="text" id="search" placeholder="Szukaj...">
                      <a href="#" class="search_icon2"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </nav>
            <div class="table-responsive mt-2">
                <table class="table">
                    <thead class="thead-dark">
                        <tr  class="active">
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Numer telefonu</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody id="table">
                        <tr th:each ="customer : ${customerList}">
                            <td> <b  th:text="${customer.name}">...</b> </td>
                            <td> <b  th:text="${customer.surname}">...</b> </td>
                            <td> <b  th:text="${customer.phoneNumber}">...</b> </td>
                            <td>
                                <a class="btn btn-outline-danger" th:href="'#modal'+ ${customer.customerId}" data-toggle="modal">Usuń</a>
                                <div class="modal fade" th:id="'modal'+ ${customer.customerId}" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Usuwanie</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Czy na pewno chcesz usunąć?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                                                <a class="btn btn-primary my-1" th:href="@{'delete/' + ${customer.customerId}}">Tak</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-outline-primary my-1" th:href="@{'edit/' + ${customer.customerId}}">Edytuj</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>