<header th:fragment="header">

    <nav class="navbar navbar-dark bg-primary navbar-expand-lg ">

        <a class="navbar-brand" href="/"><i class="fab fa-shopify mr-2"></i>Sklep</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/payment/list"> Płatności </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/order/list"> Zamówienia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/product/list"> Produkty </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/complaint/list"> Reklamacje </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/role/list"> Uprawnienia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/user/list"> Użytkownicy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/customer/list"> Klienci </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/employee/list"> Pracownicy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/address/list"> Adresy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_pracownik')" href="/employee/order/list"> Zamówienia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_pracownik')" href="/employee/product-list"> Produkty </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" sec:authorize="hasRole('ROLE_pracownik')" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Raporty
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/employee/report/last-month">Zysk miesięczny</a>
                      <a class="dropdown-item" href="/employee/report/demand-report">Zapotrzebowanie</a>
                      <a class="dropdown-item" href="/employee/report/product-inventory">Stan magazynowy</a>
                      <a class="dropdown-item" href="/employee/report/order">Zamówienia</a>
                      <a class="dropdown-item" href="/employee/report/employee">Pracownicy</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/laptops-and-computers"> Komputery </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/computer-components"> Podzespoły </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/peripheral-devices"> Urządzenia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/software"> Oprogramowanie </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/accessories"> Akcesoria </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_pracownik')" href="/employee/complaint-list"> Reklamacje </a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')">
                    <a class="nav-link" href="/shopping-cart" id="cart"><i class="fa fa-shopping-cart mr-1"></i> Koszyk <span th:text="${session.count}" class="badge">0</span></a>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login" id="login"><i class="fa fa-user mr-1"></i> Logowanie </a>
                </li>

                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user mr-1"></i> Profil
                    </a>
                    <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarProfile">
                      <a class="dropdown-item" sec:authorize="isAuthenticated() and hasRole('ROLE_klient')" href="/customer/profile"> Moje konto</a>
                      <a class="dropdown-item" sec:authorize="isAuthenticated() and hasRole('ROLE_pracownik')" href="/employee/profile"> Moje konto</a>
                      <a class="dropdown-item" sec:authorize="hasRole('ROLE_klient')" href="/customer/order">Zakupy</a>
                      <a class="dropdown-item" sec:authorize="hasRole('ROLE_klient')" href="/customer/complaint">Reklamacje</a>
                        <form id="logout" clas="dropdown-item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                            <a class="dropdown-item logout" onclick="document.getElementById('logout').submit()">Wyloguj</a>
                        </form>
                    </div>
                </li>
            </ul >
        </div>
    </nav>
</header>