<header th:fragment="header">
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">

        <a class="navbar-brand" href="/">Sklep</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/"> Strona główna </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/payment/list"> Płatności </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/order/list"> Zamówienia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/product/list"> Produkty </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/complaint/list"> Reklamacje </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/role/list"> Uprawnienia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/user/list"> Użytkownicy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/customer/list"> Klienci </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/employee/list"> Pracownicy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/address/list"> Adresy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_klient')" href="/customer/profile"> Profil </a>
                </li>
            </ul>

            <form class="form-inline" sec:authorize="!isAuthenticated()">
                <a href="/register" class="mr-2 btn btn-light" role="button">Rejestracja</a>
                <a href="/login"  class="mr-2 btn btn-success" role="button">Logowanie</a> 

            </form>	
            <form  sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                <button class="btn btn-success" type="submit" >Wyloguj</a>
            </form>
        </div>
    </nav>
</header>