<header th:fragment="header">

    <nav class="navbar navbar-dark bg-primary navbar-expand-lg ">

        <a class="navbar-brand" href="/">Sklep</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/payment/list"> Płatności </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/order/list"> Zamówienia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/product/list"> Produkty </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/complaint/list"> Reklamacje </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/role/list"> Uprawnienia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/user/list"> Użytkownicy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/customer/list"> Klienci </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/employee/list"> Pracownicy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_admin')" href="/admin/address/list"> Adresy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_klient')" href="/customer/order"> Historia zakupów </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_klient')" href="/customer/complaint"> Reklamacje </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_pracownik')" href="/employee/order/list"> Zamówienia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_pracownik')" href="/employee/product-list"> Produkty </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/laptops-and-computers"> Laptopy i komputery </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/computer-components"> Podzespoły komputerowe </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/peripheral-devices"> Urządzenia peryferyjne </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/software"> Oprogramowanie </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/accessories"> Akcesoria </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ROLE_pracownik')" href="/employee/complaint-list"> Reklamacja </a>
                </li>

            </ul>
            <a class="navbar-right cart" sec:authorize="!isAuthenticated()">
                <li><a sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_pracownik')" href="/shopping-cart" id="cart"><i class="fa fa-shopping-cart"></i> Koszyk <span th:text="${session.count}" class="badge">0</span></a></li>
                <li><a href="/login" id="login"><i class="fa fa-user"></i> Logowanie </a></li>
              </a>

            <a class="mr-2" style="color: white;" sec:authorize="isAuthenticated() and hasRole('ROLE_klient')" href="/customer/profile" th:text="${#authentication.name}"></a>
            <a class="mr-2" style="color: white;" sec:authorize="isAuthenticated() and hasRole('ROLE_pracownik')" href="/employee/profile" th:text="${#authentication.name}"></a>
            <a class="mr-2" style="color: white;" sec:authorize="isAuthenticated() and hasRole('ROLE_admin')" th:text="${#authentication.name}"></a>

            <form  sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                    <button class=" btn  bg-logout" type="submit" ><i class="fas fa-sign-out-alt"></i>  Wyloguj</a>

            </form>
        </div>
    </nav>
</header>