<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">

    <head>
        <title>Edytuj klienta</title>
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{|/customer/edit/${id}|}" method="POST" th:object="${customer}">
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Imię</label>
                            <input class="form-control" type="text" th:field="${customer.name}" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Nazwisko</label>
                            <input class="form-control" type="text" th:field="${customer.surname}" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Numer telefonu</label>
                            <input class="form-control" type="text" th:field="${customer.phoneNumber}" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label> Adres </label>
                            <select class="form-control" name="addresses">
                                <option
                                    th:value="${customer.address} ? ${customer.address.addressId} : ''"
                                    th:text="${customer.address} ? ${customer.address.street}+' '+${customer.address.houseNumber} : 'Wybierz adres'">
                                </option>
                                <option value="">
                                    Wybierz adres
                                </option>
                                <option th:each="address : ${addressList}"
                                        th:if="${address.houseNumber != ''}"
                                        th:value="${address.addressId}"
                                        th:text="${address.street}+' '+${address.houseNumber}+'/'+
                                        ${address.houseNumber}+', '+${address.postcode}+' '+${address.city}">
                                </option>
                                <option th:each="address : ${addressList}"
                                        th:if="${address.flatNumber == ''}"
                                        th:value="${address.addressId}"
                                        th:text="${address.street}+' '+${address.houseNumber}
                                        +', '+${address.postcode}+' '+${address.city}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label> Użytkownik </label>
                            <select class="form-control" name="users">
                                <option
                                    th:value="${customer.user} ? ${customer.user.email} : ''"
                                    th:text="${customer.user} ? ${customer.user.email} : 'Wybierz użytkownika'">
                                </option>
                                <option value="">
                                    Wybierz użytkownika
                                </option>

                                <option th:each="user : ${userList}"
                                        th:value="${user.email}"
                                        th:text="${user.email}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>