body
{
/*background-image: url(/images/GLOWNA.jpg);*/
 padding-bottom: 70px;
}
/*.jumbotron
{

    background-color: #58FAFF;
   margin-bottom: 10px;
}

.nav-item
{
background-color: #58FAFF;
margin-left: 5px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.nav-item:hover
{
    background-color: 91F1F5;
}
#title
{
    width: auto;
    height: 200px;


}
*/

.button, .search {
    padding-left: 2px;
    padding-right: 0;
}

