<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">

    <head>
        <title>Dodaj reklamację</title>
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{|/admin/complaint/edit/${id}|}" method="POST" th:object="${complaint}">
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Data zgłoszenia</label>
                            <input class="form-control" type="datetime-local" th:field="${complaint.notificationDate}" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Opis</label>
                            <input class="form-control" type="text" th:field="${complaint.description}" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label> Status reklamacji</label>
                            <select class="form-control" th:field="${complaint.complaintStatus}" required>
                                <option
                                th:value="${complaint.complaintStatus}">
                                <option value="">Wybierz status</option>
                                <option value="Przyjęta">Przyjęta</option>
                                <option value="W trakcie realizacji">W trakcie realizacji</option>
                                <option value="Zakończona">Zakończona</option>
                                <option value="Odrzucona">Odrzucona</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Zamówienie</label>
                            <select class="form-control" name="order">
                                <option value="">Wybierz zamówienie</option>
                                <option th:each="order : ${orderList}"
                                        th:value="${order.orderId}"
                                        th:text="${order.purchaseDate}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Produkt</label>
                            <select class="form-control" name="product">
                                <option value="">Wybierz produkt</option>
                                <option th:each="product : ${productList}"
                                        th:value="${product.productId}"
                                        th:text="${product.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>