<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">

    <head>
        <title>Dodaj płatność</title>
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{|/admin/payment/edit/${id}|}" method="POST" th:object="${payment}">
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Data płatności</label>
                            <input class="form-control" type="datetime-local" th:field="${payment.paymentDate}" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <label>Kwota</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">zł</div>
                            <input class=form-control type="number" min="0" step="0.01" th:field="${payment.amount}" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Metoda płatości</label>
                            <select class="form-control" th:field="${payment.paymentMethod}" required>
                                <option th:value="${payment.paymentMethod}">
                                <option value="">Wybierz metodę</option>
                                <option value="Karta kredytowa">Karta kredytowa</option>
                                <option value="Przelew">Przelew</option>
                                <option value="Płatność przy obiorze">Płatność przy obiorze</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Zamówienie</label>
                            <select class="form-control" name="order">
                                <option value="">Wybierz zamówienie</option>
                                <option th:each="order : ${orderList}"
                                        th:value="${order.orderId}"
                                        th:text="${order.purchaseDate}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>