<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">

    <head>
        <title>Dodaj zamówienie</title>
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{|/order/edit/${id}|}" method="POST" th:object="${order}">
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Data zakupu</label>
                            <input class="form-control" type="datetime-local" th:field="${order.purchaseDate}" required />
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Data wysłania</label>
                            <input class="form-control" type="datetime-local" th:field="${order.shipmentDate}" required />
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Status</label>
                            <input class="form-control" type="text" th:field="${order.orderStatus}" required />
                        </div>                        
                    </div>
                </div>               
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>